body {
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
}

#prepPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

#goFullscreen {
    font-size: 2em;
    /* Adjust font size as needed */
    font-weight: bold;
    padding: 15px 30px;
    /* Adjust padding as needed */
}

#fullscreenPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    /* Default main color */
    color: #000000;
    /* Default text color */
    margin: 0 !important;
    /* Add !important to override other styles */
    padding: 0 !important;
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
}

#fullscreenText {
    font-size: 5em;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: center;
    /* Center the text horizontally */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Use a bold sans-serif font */
    font-weight: 900;
    /* Set the font weight to 900 for extra boldness */
}

#topBar,
#bottomBar {
    position: absolute;
    left: 0;
    width: 100%;
}

#topBar {
    top: 0;
}

#bottomBar {
    bottom: 0;
}

#qrcode {
    width: 320px;
    height: 320px;
    margin-top: 15px;
}

.url-share-container {
    text-align: center;
    background-color: lightgrey;
    /* Add light grey background */
    padding: 10px;
    /* Add some padding */
    display: none;
    /* Initially hide the container */
}

#urlText {
    width: 80%;
    /* Adjust width as needed */
    margin: 10px auto;
    /* Center the input horizontally */
}

#messageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Responsive columns */
    gap: 10px;
}

.message-item {
    border: 1px solid #ccc;
    padding: 10px;
}